.btn {
    padding: 10px;

    &--primary {
        background-color: $primary;
    }

    &--secondary {
        background-color: $secondary-dark;
        border: 1px solid $secondary-dark;

        &:hover {
            background-color: $secondary;
        }
    }

    &--full {
        width: 100%;
    }

    &--upper {
        text-transform: uppercase;
    }
}