.btn {
    padding: 10px;
    box-shadow: none !important;

    &--primary {
        background-color: $primary;
    }

    &--primary-dark {
        background-color: $primary-dark;
        border: none;

        &:hover {
            background-color: $warning;
        }
    }

    &--secondary {
        background-color: $secondary-dark;
        border: 1px solid $secondary-dark;

        &:hover, &:focus {
            background-color: $secondary;
        }
    }

    &--full {
        width: 100%;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--mt0 {
        margin-top: 20px;
    }
}