.card {
    width: 18rem;
    background-color: $dark;
   &:hover{
    box-shadow: 1px 2px 1px 3px #e0a800
    
   }
    &__card-img {
        border-radius: 50% 20%;
        padding: 25px 20px 20px;;
    }

    &__card-title {
        color: $primary;
        font-family: $family-primary;
    }

    &__card-text {
        color: $secondary;
        font-size: 18px;
        font-family: $family-primary;
        &--color{
            color:$info;
            font-weight: 600;
            font-family: $family-secondary
        }
        
    }

    .rating {
        color:$primary;

        &__num{
            padding-left: 7px;
            color:$white;
            font-weight: 600;
        }

    }
}
.container{
    display: flex;
    justify-content: center;
}